body {
  margin: 0 auto;
}
.body.lock {
  overflow: hidden;
}
/*!!!!!!!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!*/
.header {
  width: 100%;
  margin: 0 auto;
  background-color: #030303;
}
.hidden_el {
  top: 0;
  left: 0px;
  width: 0;
  height: 0;
  visibility: hidden;
  position: fixed;
}
.header_wrapper {
  @include wrapper();
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    max-width: 984px;
  }
  @media screen and (max-width: 768px) {
    max-width: 728px;
  }
  @media screen and (max-width: 420px) {
    max-width: 380px;
  }
}

.logo {
  padding-top: 52px;
  @media screen and (max-width: 1024px) {
    padding-top: 41px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 35px;
    padding-bottom: 25px;
  }
  @media screen and (max-width: 420px) {
    padding-bottom: 3px;
  }

  img {
    width: 50px;
    height: 34px;
    margin-right: 20px;
    margin-top: 5px;
    @media screen and (max-width: 420px) {
      width: 29px;
      height: 16px;
      margin-right: 25px;
      margin-top: 0px;
    }
  }
  a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 50px;
  }
  h1 {
    @include forum($color: #ffffff, $font-size: 28px, $line-height: 50px);
    &:hover {
      color: #9d8665;
      transition: 1s;
    }
    @media screen and (max-width: 420px) {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
.menu {
  padding-top: 50px;
  padding-bottom: 50px;
  .nav_menu {
    @media screen and (max-width: 1024px) {
      z-index: 10;
      position: fixed;
      top: 128px;
      left: -100%;
      width: 31%;
      height: 62%;
      background-color: rgba(0, 0, 0, 1);
      padding-top: 25px;
      transition: left 0.3s ease 0s;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100vh;
      top: 118px;
    }
    @media screen and (max-width: 420px) {
      padding-top: 6px;
      height: 544px;
      top: 90px;
    }
    &.active {
      left: 0;
    }
    .menu_items {
      display: flex;
      align-items: center;
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
      }
      .menu_item {
        margin: 0px 0px 0px 55px;
        @media screen and (max-width: 1024px) {
          background-image: url(../../assets/svg/menu-arrow.svg);
          background-repeat: no-repeat;
          background-position: right center;
          width: 121px;
          margin-bottom: 25px;
        }
        @media screen and (max-width: 768px) {
          margin: 0px 0px 25px 50px;
        }
        @media screen and (max-width: 768px) {
          margin: 0px 0px 25px 55px;
        }
        .menu_link {
          @include roboto(200, 22px, 50px, 2px, #ffffff);
          text-decoration: none;
          color: #ffffff;
          @media screen and (max-width: 1024px) {
            font-size: 20px;
            line-height: 23px;
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            color: #9d8665;
            transition: 1s;
          }
          &:active {
            color: #9d8665;
          }
          &:target {
            border: none;
          }
        }
      }
    }
  }
}
.burger-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  //menu__icon
  .burger-menu {
    top: 55px;
    z-index: 50;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .burger-menu::before,
  .burger-menu::after,
  .burger-menu span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
.burger-menu.active span {
  transform: scale(0) translate(0px, -50%);
}
.burger-menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.burger-menu.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
@media screen and (max-width: 768px) {
  .burger-menu {
    top: 45px;
  }
}
@media screen and (max-width: 420px) {
  .burger-menu {
    top: 35px;
  }
}
.menu_pic {
  display: none;
  @media screen and (max-width: 768px) {
    max-width: 658px;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;

    .menu_line {
      background-color: rgba(255, 255, 255, 0.5);
      max-width: 658px;
      height: 1px;
      margin-bottom: 35px;
    }
    .menu_icons {
      width: 340px;
      // position: absolute;
      // left: 27%;
      .m-icons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 336px;
        .m-icon {
          width: 48px;
          height: 48px;
          border: 1px solid #666666;
          box-sizing: border-box;
          filter: drop-shadow(0px 0px 0px #666666);
          border-radius: 50px;
          position: relative;
          svg {
            position: absolute;
            top: 32%;
            left: 30%;
          }
          path:hover,
          &:hover {
            fill: #9d8665;
            transition: 1s;
          }
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    .menu_pic-img {
      max-width: 310px;
      width: 100%;
      margin: 0 auto;
      margin-top: 5px;
      .menu_pic-img1 {
        width: 95px;
        height: 95px;
        margin-top: 1%;
        margin-left: 26%;
      }
      .menu_pic-img2 {
        width: 95px;
        height: 95px;
        margin-top: 1%;
      }
      .menu_pic-img3 {
        width: 95px;
        height: 95px;
        margin-top: 1%;
        margin-left: 51%;
      }
    }
    .menu_line {
      top: 77%;
      width: 310px;
      left: 13%;
    }
    .menu_icons {
      width: 260px;
      top: 81.5%;
      left: 19%;
      .m-icons {
        width: 260px;
      }
    }
  }
}
