.prallax {
  width: 100%;
  height: 400px;
  background-image: url(../assets/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .prallax {
    height: 300px;
  }
}
